CompileFlags:
  Add: [-DLINUX, -DH5_USE_16_API, -D__max_subgrids=100000, -D__max_baryons=66, -D__max_particle_attr=46, -D__max_cpu_per_node=72,
      -D__memory_pool_size=100000, -DINITS64, -DSMALL_INTS, -DCONFIG_PINT_8, -DIO_64, -DUSE_MPI, -DCONFIG_PFLOAT_8,
      -DCONFIG_BFLOAT_8, -DUSE_HDF5_GROUPS, -DTRANSFER, -DNEW_GRID_IO, -DFAST_SIB, -DNBODY, -DFEWBODY, -DAR_TTL, 
      -DAR_SLOWDOWN_TREE, -DAR_SLOWDOWN_TIMESCALE, -DENZO_PERFORMANCE, -DUSE_GRACKLE, -DSAB, -DINDIVIDUALSTAR, -DNEWYIELDTABLES,
      
      -I/mnt/sw/nix/store/5lm2q7hm14wv3dnc09144zi5bh7v7p42-hdf5-1.8.22/include,
      -I/include,
      -I/mnt/home/yjo10/packages/grackle-aeos/build/include,
      -I./abyss/SDAR/src,
      -I.,
      -I//mnt/sw/nix/store/mcx8zn2j9zyl7ng1cw2g0c8mv0q0n33g-openmpi-4.0.7/include
      ]


      
